<!doctype html>
<html lang="en">
  <head>
    <title>Add Car</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/customize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
      const carTypes = JSON.parse('<%- JSON.stringify(carTypes) %>');
      $(function(){
        //console.log(carTypes);
        $('#make').on('change', function(){
          //console.log($(this).val());
          const make = $(this).val();
          let options = '<option value="">--Select--</option>';
          for(let model of carTypes[make]){
            //console.log(data);
            options += '<option>'+model+'</option>';
          }
          $('#model').html(options);
        })
      });
    </script>
  </head>
  <body>
    <header class="global-header">
        <div class="container-fluid">
            <%- include('header.html') %>            
        </div>
                
    </header>
  
    <div class="container-fluid">
        
        <div class="content">
        <div class="col-12 col-md-12 col-lg-12">
            

            <form action="/add-car" class="add-form" data-submittype="vehicle-add" method="post">
              <input type="hidden" name="car_id" value="<%= data.id %>" />
                <div class="form-group col-md-4">
                  <label for="condition">New/used</label>
                  <select class="form-control" name="condition" id="condition" required>
                    <option value="">--Select--</option>
                    <option value="New" <% if(data.condition=='New'){%> selected <%}%>>New cars</option>
                    <option value="Used" <% if(data.condition=='Used'){%> selected <%}%>>Used Cars</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="">Make</label>
                    <select class="form-control" name="make" id="make" required>
                        <option value="">--Select--</option>
                        <% for(let key in carTypes){ %>
                          <% if(key == data.make){ %>
                            <option selected><%= key %></option>
                          <% } else{ %>
                            <option><%= key %></option>
                          <% } %>
                        <% } %>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="">Model</label>
                    <select class="form-control" name="model" id="model" required>
                        <option value="">--Select--</option>
                        <% if(data.model){ %>
                          <% for(let val of carTypes[data.make]){ %>
                            <% if(val == data.model){ %>
                              <option selected><%= val %></option>
                            <% } else{ %>
                              <option><%= val %></option>
                            <% } %>
                          <% } %>
                        <% } %>
                    </select>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" name="price" id="price" aria-describedby="helpId" placeholder="Price" value="<%= data.price %>" required>
                    <small id="helpId" class="form-text text-muted">Price of the car</small>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="distance">Distance</label>
                    <input type="text" class="form-control" name="distance" id="distance" aria-describedby="helpId" placeholder="Distance" value="<%= data.distance %>" required>
                    <small id="helpId" class="form-text text-muted">Enter distance in mile</small>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="zip">ZIP</label>
                    <input type="text" class="form-control" name="zip" id="zip" aria-describedby="helpId" placeholder="ZIP" value="<%= data.zip %>" required>
                    <small id="helpId" class="form-text text-muted">Enter zip code</small>
                  </div>
                  <div class="form-group col-md-4">
                    <input type="submit" class="btn btn-primary col-6" value="<% if(data.id){%>Update<%}else{%>Add<%}%> Car">
                  </div>
                  
           
              </form>
            <div class="copyright"><p class="mt-5 mb-3 text-muted"><i class="fa fa-copyright" aria-hidden="true"></i>2022 5sCars.com. All rights reserved.</p></div>
        </div>
        
    </div>     
        
    </div>

    <%- include('footer.html') %>