<!doctype html>
<html lang="en">
  <head>
    <title>Cars</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/customize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/fc-4.1.0/fh-3.2.3/r-2.3.0/sc-2.0.6/sb-1.3.3/sp-2.0.1/sl-1.4.0/sr-1.1.1/datatables.min.css"/>
 
  </head>
  <body>
    <header class="global-header">
        <div class="container-fluid">
            <%- include('header.html') %>            
        </div>
                
    </header>
  
    <div class="container-fluid">
        <div class="content">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="filter-form row">
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <select class="form-control" name="condition" id="condition" required>
                          <option value="">--New/Used--</option>
                          <option value="New">New cars</option>
                          <option value="Used">Used Cars</option>
                        </select>
                  </div>
                  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <select class="form-control" name="make" id="make" required>
                            <option value="">--Make--</option>
                            <% for(let key in carTypes){ %>
                                <option><%= key %></option>
                            <% } %>
                        </select>
                  </div>
                <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <select class="form-control" name="model" id="model" required>
                        <option value="">--Model--</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <button id="btn-filter" class="btn btn-primary">Filter</button>
                  </div>
            </div>
            <table id="carList" class="table table-striped table-hover table-bordered table-inverse table-responsive-">
                <thead class="thead-inverse">
                    <tr>
                        <th>New/Used</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Distance</th>
                        <th>Zip</th>
                        <th class="dt-action-col">Action</th>
                    </tr>
                </thead>
            </table>
            <div class="copyright"><p class="mt-5 mb-3 text-muted"><i class="fa fa-copyright" aria-hidden="true"></i>2022 5sCars.com. All rights reserved.</p></div>
        </div>
        
    </div>     
        
    </div>

    <%- include('footer.html') %>

    <script>
    const carTypes = JSON.parse('<%- JSON.stringify(carTypes) %>');
    $(document).ready(function () {
        const table = $('#carList').DataTable({
            //serverSide: true,
            ajax: {
                url: '/car-list',
                type: 'POST',
                data: function(data){
                    // Read values
                    let condition = $('#condition').val();
                    let make = $('#make').val();
                    let model = $('#model').val();

                    // Append to data
                    data.condition = condition;
                    data.make = make;
                    data.model = model;
                },
                dataSrc: ''
            },
            columnDefs:[
                {
                    targets: 0,
                    data: 'condition'
                },
                {
                    targets: 1,
                    data: 'make'
                },
                {
                    targets: 2,
                    data: 'model'
                },
                {
                    targets: 3,
                    data: 'price'
                },
                {
                    targets: 4,
                    data: 'distance'
                },
                {
                    targets: 5,
                    data: 'zip'
                },
                {
                    targets: 6,
                    data: null,
                    defaultContent: '<a href="#" class="red"  data-toggle="tooltip" data-placement="top" title="Delete this car"><i class="fa fa-remove" aria-hidden="true"> </i> Delete</a>',
                    sorting: false
                },
            ],
            bPaginate: false,
            dom: "lfrti",
            searching: false
        });

        // car delete
        $('#carList tbody').on('click', 'a', function (e) {
            const row = table.row($(this).parents('tr'));
            const data = row.data();
            //console.log(data);
            if(confirm('Are you sure delete this car?')){
                // ajax delete data to database
                $.ajax({
                    url : "/delete-car/?id="+data['id'],
                    type: "DELETE"
                }).done((resp)=>{
                    //console.log(resp);
                    //row.remove().draw();
                    if(resp.deleted){
                        //table.ajax.reload();
                        $('#carList').DataTable().ajax.reload()
                    }
                    else{
                        alert('Deletion failed! Something went wrong!');
                    }
                }).fail((err)=>{
                    //console.log(err);
                    alert('Deletion failed! Something went wrong!');
                });
            }
            return false;
        });

        $('#carList tbody').on('click', 'td', function () {
            const data = table.row($(this).parents('tr')).data();
            $(location).attr('href', '/add-car?id='+ data['id']);
        });

        $('#make').on('change', function(){
          //console.log($(this).val());
          const make = $(this).val();
          let options = '<option value="">--Model--</option>';
          for(let model of carTypes[make]){
            //console.log(data);
            options += '<option>'+model+'</option>';
          }
          $('#model').html(options);
        });

        $('#btn-filter').on('click', function(){
            //table.draw();
            $('#carList').DataTable().clear().destroy();
            table = $('#carList').DataTable({
            //serverSide: true,
            ajax: {
                url: '/car-list',
                type: 'POST',
                data: function(data){
                    // Read values
                    let condition = $('#condition').val();
                    let make = $('#make').val();
                    let model = $('#model').val();

                    // Append to data
                    data.condition = condition;
                    data.make = make;
                    data.model = model;
                },
                dataSrc: ''
            },
            columnDefs:[
                {
                    targets: 0,
                    data: 'condition'
                },
                {
                    targets: 1,
                    data: 'make'
                },
                {
                    targets: 2,
                    data: 'model'
                },
                {
                    targets: 3,
                    data: 'price'
                },
                {
                    targets: 4,
                    data: 'distance'
                },
                {
                    targets: 5,
                    data: 'zip'
                },
                {
                    targets: 6,
                    data: null,
                    defaultContent: '<a href="#" class="red"  data-toggle="tooltip" data-placement="top" title="Delete this car"><i class="fa fa-remove" aria-hidden="true"> </i> Delete</a>',
                    sorting: false
                },
            ],
            bPaginate: false,
            dom: "lfrti",
            searching: false
        });
        });
      });
    </script>