<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        
    </script>
</head>

<body>
    <h1>Car Search Form</h1>
    <form action="/" method="post">
        <div style="display:grid;grid-template-columns:120px 300px;gap:10px;">
            <label>Requester Name</label>
            <input name="name" type="text"  />
            <label>Make</label>
            <select name="make"  multiple>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
            </select>
            <label>Sedan</label>
            <div>
                <input name="model" value="yes" type="radio"><label>Yes</label>
                <input name="model" value="no" type="radio"><label>No</label>
            </div>
        </div>
        <br />
        <input type="submit" />
    </form>
</body>

</html>