.global-header{
    width: 100%;
    /* border-bottom: 2px solid blueviolet; */
}
.global-header:after {
    background-image: linear-gradient(-90deg,#078da1,cornflowerblue);
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
}
.global-header li a {
    align-items: center;
    color: #212121;
    display: flex;
    line-height: 1;
    margin: 0;
}
.navbar{
    padding: 0.1rem 1rem;
}
a.nav-link{
    color: black;
}

.content{
    margin: 30px auto;
}

.clear-fix{
    clear: both;
}
.copyright{

}

 /* table style */
 .table{
    margin-top: 30px;
 }

 .table tr th{
    background-color: cornflowerblue;
    color: black;
 }

 .pagination, .copyright {
    justify-content: center;
 }
 
 .red{
    color: red;
 }

 form.add-form .form-control{
    padding-top: 30px !important;
    height: calc(1.5em + 0.75rem + 30px) !important;
 }
 form.add-form label{
    top: 36px;
    left: 13px;
    position: relative;
 }
 form.add-form .btn{
    padding: 20px;
    background: transparent;
    background-color: #532380;
    border: 0;
    color: #fff;
    transition: background-color .25s ease;
    font-weight: bold;
    text-transform: uppercase;
 }
